.game{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.rod{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1em;
}
.rod::before{
    content:'';
    display: block;
    background-color: sienna;
    position: absolute;
    width: 1em;
    top: -1em;
    bottom: 0
}
.disk{
    border-radius: 10px;
    z-index: 1;
}