body {
  background-color: bisque;
  font-family: sans-serif;
}
h1 {
  font-size: medium;
}
h2 {
  color: green;
  font-family: cursive;
  font-size: small;
}
h3 {
  font-size: x-small;
}
