body {
  background-color: #ffe4c4;
  font-family: sans-serif;
}
h1 {
  font-size: medium;
}
h2 {
  color: #008000;
  font-family: cursive;
  font-size: small;
}
h3 {
  font-size: x-small;
}
