body {
  background-color: #ffe4c4;
    font-family: sans-serif;
}
h1 {
  font-size: small;
}
h1, h3 {
  color: #008000;
  font-family: cursive;
}
h3 {
  color: #8b4513;
}
span {
  color: #008000;
}
#country {
  color: #a52a2a;
}
