.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-to, .fade-leave{
    opacity: 1;
}
.fade-enter-active, .fade-leave-active{
    transition: opacity 1s;
}

.bounce-enter-active {
    animation-name: flash;
    animation-duration: 1s;
}
.bounce-leave-active {
    animation-name: flash;
    animation-duration: 1s;
    animation-direction: reverse;
}