* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: sans-serif;
}
nav {
    background-color: rgb(246, 115, 34);
    text-align: right;
}
nav ul li:first-child {
    font-size: 1.2em;
}
li {
    display: inline-block;
    padding: 0.5em;
}
a {
    text-decoration: none;
    color: white;
}
#home {
    background-image: url(headerback.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#overlay {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
}
#container {
    position: absolute;
    width: 50%;
    height: 25%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}