meter[value="0"]::-webkit-meter-optimum-value{
    background-color: red;
}
meter[value="1"]::-webkit-meter-optimum-value{
    background-color: rgb(255, 208, 0);
}
meter[value="2"]::-webkit-meter-optimum-value{
    background-color: rgb(238, 253, 106);
}
meter[value="3"]::-webkit-meter-optimum-value{
    background-color: rgb(179, 250, 112);
}
meter[value="4"]::-webkit-meter-optimum-value{
    background-color: rgb(0, 255, 21);
}
meter[value="5"]::-webkit-meter-optimum-value{
    background-color: rgb(4, 136, 15);
}